body{
	margin: 0px;
	padding: 0px;
}

/*Home  */
.search-container{
	height: 70vh
}

.search-container form{
	position: relative;
	top: 35%;
}

.search-container div{
	color: #EE6E73;
	font-size: 30px;
	font-style: normal;
	font-weight: bold;
	position: relative;
	top: 25%;
}

#home-intro{
	animation-name: opener;
	animation-duration: 2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes opener {
    from {opacity: 0;}
    to {opacity: 1;}
} 

/* Standard syntax */ 
@keyframes opener {
    from {opacity: 0;}
    to {opacity: 1;}
}


#search {

}
#search input[type="text"] {
    background: url(search-white.png) no-repeat 10px 6px #444;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #d7d7d7;
    width:150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); 
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    background: url(search-dark.png) no-repeat 10px 6px #fcfcfc;
    color: #6a6f75;
    width: 200px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	}

	.start-search{
		
	}


/*Home  */




/*Contact View  */

.contact-container{
	padding: 2%;
}

.contact-header{
	text-align: center;
	background-image: url('http://1.bp.blogspot.com/-HcHiEM11Dcw/TnmBsa4QgqI/AAAAAAAABTU/BaC6u7FigjQ/s1600/MayaA.jpg');
	background-size: contain;
	background-attachment: fixed
	
}

hr.contact-hr {
	border-top: 1px solid #8c8b8b;
	text-align: center;
	
}
hr.contact-hr:after {
	content: '§';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}

.contact-form{
    margin-left: 15%;
	margin-right: 15%;
	margin-top: 5%;
	padding: 5%; 
	border: thin solid black;
}

.text-center{
	text-align: center;
}

.contact-form textarea{
	height: 20vh;
	width: 100%;
	position: relative;
	resize: none;
}

input[name="contact-submit"]{
	padding: 10px;
}

/*About */

.about-cont{
	padding: 15%;
}

.about-intro{
	background: #F2F2F2;
	color: black;
	padding: 5%;
	font-size: 18px;
	line-height: 27px;
	font-weight: 400;
	margin-left: 15%;
	margin-right: 15%;
}

.contact-intro{
	background: #F2F2F2;
	color: black;
	padding: 5%;
	font-size: 18px;
	line-height: 27px;
	font-weight: 400;
	position: relative;
	margin: 15%;
}

