<div>

    <main-nav></main-nav>

    <div class="contact-header">
        <h1>Contact Me!</h1>
        <hr class="contact-hr">
    </div>

    <div ng-show="!page1" class="contact-form">
        <form ng-submit="submitContact(fname, lname, email, tel, url, message)">
            <div class="container text-center">
                <div class="row">
                    <div class="col s6">
                        <input type="text"
                               ng-model="contact.fname"
                               name="fname" 
                               placeholder="First Name"
                               required/>
                        
                        <input type="email"
                               ng-model="contact.email" 
                               name="emailadd" 
                               placeholder="Email"
                               required/>
                    </div>

                    <div class="col s6">
                        <input type="text" 
                               ng-model="contact.lname"
                               name="lname"
                               placeholder="Last Name" 
                               required/>
                        
                           
                        <input type="tel"  
                               placeholder="Phone Number"
                               ng-model="contact.tel"
                               required/>
                    </div>
                </div>

                <input type="url"
                       ng-model="contact.url"
                       placeholder="Your Web Site http://"/>


                <textarea 
                placeholder="Type your Message Here...."
                ng-model="contact.message" 
                tabindex="5" required></textarea>


                <p>
                    <input 
                    type="checkbox" 
                    class="filled-in" 
                    id="filled-in-box" 
                    checked="checked" 
                    />
                    
                    <label for="filled-in-box">Send Copy To Self</label>
                </p>

                <input 
                    name="contact-submit" 
                    type="submit" 
                    id="contact-submit" 
                    data-submit="...Sending"
                    ng-click="changeView()"
                    value="Submit" 
                    />
            </div>
        </form>
    </div>



     <div ng-show="page2" class="text-center">
        <div class="contact-intro">
            <h2>Your Contact Sent</h2>
            <h3>Thank You!</h3>
        </div>
    </div> 
</div>