
<main-nav></main-Nav>

    
<div id="query-bar" ng-show="showChips">
    <ul>
        <li ng-click="killChip(chip)" ng-repeat=" chip in chips" ng-bind-html-unsafe="opt.text" >
            {{ chip.text }}
        </li>
    </ul>
</div> 

<div id="home-intro" class="search-container text-center">
    <div ng-show="!noLogo">Inspirational Engine</div>
    <form ng-submit="submit()" id="search">
        <input name="q" ng-model="goo" type="text" size="40" placeholder="Search..." />
    </form>
</div>


<div class="word-container">
    <div class="test">
        <h1><a href="#">Test</a></h1>
    </div>

    <div class="test2">
        <h1><a href="#">Test</a></h1>
    </div>

    <div class="test">
        <h1><a href="#">Test</a></h1>
    </div>

    <div class="test2">
        <h1><a href="#">Test</a></h1>
    </div>

    <div class="test">
        <h1><a href="#">Test</a></h1>
    </div>

    <div class="test2">
        <h1><a href="#">Test</a></h1>
    </div>
</div>